body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #002D62;
    /* background-color: black; */
}

h1 {
    margin-bottom: 20px;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
    margin-bottom: 20px;
    /* --neon: #D30302; */
}

.cell {
    
    width: 100px;
    height: 100px;
    background-color: #00FFFF;
    /* background-color: #002D62; */
    /* background: radial-gradient(circle at 10% 20%, rgb(98, 114, 128) 0%, rgb(52, 63, 51) 90.1%); */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    cursor: pointer;
    border: 2px solid #000;
    box-sizing: border-box;
}

.cell:hover {
    background-color: #ddd;
}

#reset-button {
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    margin-bottom: 20px;
}

#status {
    font-size: 1.2rem;
    font-weight: bold;
}
